body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: cursive;
  }

  #game-container {
    width: 650px;
    height: 400px;
    background: linear-gradient(135deg, #001f3f, #3a5376);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 
    0 0 60px rgba(0, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
  }  
  
  #ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  #paddle {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: #fff;
  }
  

#score {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #360033, #0b8793);  
  padding: 5px 20px;
  border-radius: 5px;
  z-index: 10;
}
