body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: cursive;
  }

  /* Game Container */
  #game-container {
    width: 650px;
    height: 400px;
    background: linear-gradient(135deg, #001f3f, #3a5376);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.8), 
    0 0 60px rgba(0, 255, 255, 0.6);
    position: relative;
    overflow: hidden;
    border: 2px solid #000;
  }  
  
  /* Ball */
  #ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
  }
  
  /* Paddle */
  #paddle {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: #fff;
  }
  
  /* Score */
  #score {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #360033, #0b8793);  
    padding: 5px 20px;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }


/* ======== Responsive Design ======== */
@media (max-width: 768px) {
  #game-container {
    width: 90%;
    height: 350px;
  }

  #paddle {
    height: 80px;
    width: 8px;
  }

  #ball {
    width: 15px;
    height: 15px;
  }

  #score {
    font-size: 18px;
    padding: 5px 15px;
  }
}

/* Mobile View */
@media (max-width: 480px) {
  #game-container {
    width: 95%;
    height: 300px;
  }

  #paddle {
    height: 70px;
    width: 6px;
  }

  #ball {
    width: 12px;
    height: 12px;
  }

  #score {
    font-size: 16px;
    padding: 4px 10px;
  }
}
